.register {
    box-shadow: 0 4px 8px 0 rgba(15, 227, 235, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    text-align: center;
}

img {
    border-radius: 8 px;
    object-fit: fill;
}

body {
    background-image: url("../../assets/images/write.jpg");
    background-color: #cccccc;
}

.img-thumbnail {
    height: max-content;
    background-color: #d7e6df;
}
